
.App {
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 100vh;
  background-color: rgba(20, 0, 42, 0.42);
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: auto;
  filter: invert(2%);
}


.App :after{
  content: "";
  display: flex;
}


html, body {
  background-image: url('/born_of_a_star.jpg');

}

.big-tab {
  padding: 2px 4px 2px 4px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  margin: 2px 2px 2px 2px;
}
.big-tab:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.universe-tab {
  max-width: 400px;
  border: 0px solid #BDBDBD;
  border-radius: 5px;
  opacity: 1;
}

.universe-size {
  width: 280px;
}

.time-machine {
  margin: 10px 0 0 45%;
}

button.info {
  height: 24px;
  max-width: 3px;
  justify-content: flex-end;
  align-items: flex-end;
  white-space: nowrap;
  background-color: #83B18F;
}

button.info:hover {
  height: 24px;
  max-width: 3px;
  justify-content: flex-end;
  align-items: flex-end;
  white-space: nowrap;
  background-color: #5A966A;
}

#tooltip {
  padding-bottom: -70px;
  padding-top: -70px;
  max-width: 300px;
  text-align: justify;
}

#tooltip > .tooltip-inner {
  max-width: 300px;
  background-color: #EFEEEE;
  color: black;
  border: 1px solid #BDBDBD;
}

#tooltip > .tooltip-arrow{
  display: none;
}

.resources {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
}

.info-block {
  max-height: 250px;
  overflow-y: scroll;
}

.clickers {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  white-space: nowrap;
  width: 110px;
  font-size: 10px;
}

.fluctuators {
  text-align: left;
  width: 110px;
  font-size: 10px;
}


button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  height: 25px;
  color: white;
  font-size: 11px;
  border-radius: 3.5px;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}

button:hover {
  background-color: rgba(127, 127, 127, 0.4);
}

.disabled {
  background-color: #B7B7B7;
}

.switchOn {
  background-color: #83B18F;
}

.button-selector {
  color: white;
}

.button-selector-disabled {
  color: #BDBDBD;
}

.flex-element {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

circle {
  margin: 0 auto;
}

img {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.star-icon {
  filter: invert(0%);
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}

.resource-icon {
  filter: invert(40%);
}

.overlay {
  filter: invert(60%);
}

.overlay:hover {
  opacity: 0.5;
  transition: .5s ease;
}

.your-stars {
  margin-right: 5px;
  height: 150px;
  overflow-y: scroll;
  border: 0px solid #BDBDBD;
  border-radius: 3px;
}

.star-circle {
  text-align: center;
  filter: invert(0%) !important;
}

.panel {
  background-color: #EBEBEB;
  opacity: 0.8;
}

.history {
  overflow-y: auto;
  height: 350px;
}

.blocked {
  opacity: 0.6;
  height: 70px;
  vertical-align: 50%;
  color: black;
  background-image: linear-gradient(gainsboro, lightsteelblue, #EBEBEB);
}