
.App {
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 100vh;
  background-color: rgba(20, 0, 42, 0.42);
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: auto;
  filter: invert(2%);
}


.App :after{
  content: "";
  display: flex;
}

.info-container {
  max-width: 300px;
}

.red{
  color: red;
}

html, body {
  background-image: url('/born_of_a_star.jpg');
}

button.info {
  height: 18px;
  max-width: 3px;
  justify-content: flex-end;
  align-items: flex-end;
  white-space: nowrap;
  background-color: #83B18F;
}

button.info:hover {
  height: 18px;
  max-width: 3px;
  justify-content: flex-end;
  align-items: flex-end;
  white-space: nowrap;
  background-color: #5A966A;
}

.dialog-button {
  background-color: black;
  color:white;
  height: 25px;
}

#tooltip {
  padding-bottom: -70px;
  padding-top: -70px;
  max-width: 300px;
  text-align: justify;
}

#tooltip > .tooltip-inner {
  max-width: 300px;
  background-color: #EFEEEE;
  color: black;
  border: 1px solid #BDBDBD;
}

#tooltip > .tooltip-arrow{
  display: none;
}

.resources {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
}

.info-block {
  margin: 2px 2px 2px 2px;
  padding: 4px 4px 4px 4px;
  border-radius: 18px;
  background-color: rgba(0,0,0,0.4);
  max-width: 600px;
}

.space-block {
    min-width: 35%;
}

.dust-block {
    min-width: 40%;
}

.clickers {
  border: 1px solid auto;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  white-space: nowrap;
  width: 110px;
  font-size: 10px;
}

.fluctuators {
  font-size: 10px;
}

button.field {
  max-width: 55px;
}

button.cancel {
  border: 1px solid auto;
  border-color: rgba(1,1,1,0.9);
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid auto;
  border-color: rgba(127,127,127,0.9);
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
  font-size: 11px;
  border-radius: 3.5px;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}

button:hover {
  background-color: rgba(127, 127, 127, 0.4);
}

.disabled {
  background-color: #B7B7B7;
}

.flex-element {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

circle {
  margin: 0 auto;
}

.resource-icon {
  filter: invert(40%);
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.overlay {
  filter: invert(60%);
}

.overlay:hover {
  opacity: 0.5;
  transition: .5s ease;
}

.panel-wrapper {
  background-color: white;
  opacity: 0.8;
}

.panel {
  margin: 3px 3px 3px 3px;
  background-color: #EBEBEB;
}

.panel button{
  height: 40px;
  max-width: 80px;
  color: black;
  background-color: darkseagreen;
}

.panel button:hover{
  background-color: #EFEEEE;
}

.modules-button {
    margin: 0 auto;
    width: 48px;
    height: 24px;
    border: 1px solid white;
    border-radius: 80px;
}

.upgrades-button{
    margin: 0 auto;
    width: 140px;
    height: 24px;
    border: 1px solid white;
    border-radius: 80px;
}

.plus-span {
    border-left: 1px solid white;
    cursor: pointer;
}

.history {
  overflow-y: auto;
  height: 350px;
}

.line {
    margin: 0 auto;
    height: 1px;
    background-color: #EFEEEE;
    opacity: 0.6;
}