.popup {
    color: white;
    width: 33.333333%;
    margin-top: 50px;
    padding: 15px;
    left: 0;
    margin-left: 33.333333%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    top: 15%;
    z-index: 10001;
}